.main-body{
  display:flex;
  flex-direction: row;
  padding:0 5%;
  padding-top:20px;
  padding-bottom:20px;
  column-gap:5%;
  row-gap:5%;
  margin:0;
}
d
.main-body-content{
  width:80%;
}

.main-body-sidebar{
  width:25%;
  background-color: beige;
}

@media (max-width:1000px){
  .main-body{
    flex-direction: column;
    align-items: center;
    padding:5%;
  }
  .main-body-content{
    width:100%;
  }

  .main-body-sidebar{
    width:100%;
  }

}