body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  /*padding-bottom:3000px;
  padding-top:250px;*/
  font-size:18px;
  margin:0;
}